<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANE6IQvGQf702EBIfQ83UtT-hYE7iHsqM</string>
	<key>GCM_SENDER_ID</key>
	<string>1047283818023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cairetaker.mobile</string>
	<key>PROJECT_ID</key>
	<string>cairetaker-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>cairetaker-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047283818023:ios:591cc0a4fd87ca68883802</string>
</dict>
</plist>